.select-diagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px; /* Padding around the content */
  gap: 20px;
  min-height: 100vh;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Increased min size for larger buttons */
  gap: 20px; /* Increased space between grid items */
  width: 100%; /* Make the grid span the width of the container */
  max-width: 1400px; /* Optional: limit the grid's maximum width */
  margin: 0 auto; /* Center the grid container horizontally */
  backdrop-filter: blur(5px);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
  padding: 20px; /* Added padding inside the grid container */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram-button {
  padding: 15px 25px; /* Increased padding for larger size */
  font-size: 26px; /* Larger text size */
  color: #fff;
  background-color: #006718;
  border: none;
  border-radius: 10px; /* Slightly larger corner radius */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%; /* Button takes up the width of its container */
  height: 220px; /* Increased height for larger buttons */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.diagram-button:hover {
  background-color: #004b12;
  transform: scale(1.05); /* Subtle zoom effect on hover */
}

.diagram-button-description {
  font-size: 18px; /* Larger description text */
  color: #ffffff;
  margin-top: 18px;
  text-align: center;
}
